# Node modules
node_modules/

# Log files
*.log

# Environment variables
.env

# Debugging files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Package lock files
package-lock.json
yarn.lock
